

body {
    display: flex;
    justify-content: center;
}

.console {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    overflow: hidden;
}

.main {
    flex-direction: row;
    border: 5px black solid;
    border-radius: 15%;
    width: 800px;
    height: 600px;
}

.left {
    justify-content: flex-start;
    align-items: center;
    background-color: blue;
    color: white;
}

.middle {
    width: 50%;
    justify-content: space-evenly;
    border-left: solid black 1px;    
    border-right: solid black 1px;    
}

.right {
    justify-content: flex-start;
    align-items: center;
    background-color: red;
    color: white;
}

h1 {
    font-size: 40px;
    font-style: italic;
}

.point {
    margin-top: 50px;
}

#descriptions_holder, 
#buttons_holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
}



.description {
    height: 60px;
    width: 333px;
    margin:0 8% 0 8%;
    display: flex;
    justify-content: center;
}

.win_status_holder {
    align-self: center;
    height: 25px;
    border: 1px black solid;
    border-radius: 10%;
    visibility: hidden;
    background-color: white;
    padding: 10px;
}

#play {
    border-radius: 10%;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background-color: black;
    font-size: 20px;
    color: white;
    visibility: visible;

}

#play:hover {
    background-color: white;
    color: black;

}

#play_holder {
    display: flex;
    justify-content: center;
    height: 45px;
    width: 400px;
}

#buttons_holder {
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0px;
    border-top: black 1px solid;
}

button {
    width: 80px;
    height: 80px;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 1000;
    border: black 1px solid;
    border-radius: 50%;
    background-color: black;
    color: white;
}